<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbitMqTransport" type="RSB.Transports.RabbitMQ.Settings.RabbitMqTransportSettingsSection, RSB.Transports.RabbitMQ" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <rabbitMqTransport>
    <connections>
      <connection username="guest"
                  password="guest"
                  hostname="localhost"
                  />
    </connections>
  </rabbitMqTransport>
</configuration>